body {
  background-color: rgb(224, 242, 242);
}
.all {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: green;
}
#label:hover {
  background-color: rgb(181, 220, 181);
}
#header {
  font-size: 50px;
  margin: 40px auto;
}
img {
  margin: 2px auto;
  border-radius: 50%;
  border: solid white 15px;
}
#text {
  font-size: 17px;
  margin: 40px auto;
  color: black;
  font-weight: lighter;
}
#label {
  text-decoration: none;
  background-color: white;
  color: green;
  height: 60px;
  padding: 1rem 8rem;
  border-radius: 25px;
  border: solid rgb(27, 207, 27) 2px;
  font-size: 25px;
}
#footer {
  font-size: 13px;
  margin: 40px auto;
  color: black;
  font-weight: lighter;
}
@media (max-width: 500px) {
  .all {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: green;
  }
  #header {
    font-size: 30px;
    margin: 20px auto;
  }
  img {
    margin: 2px auto;
    border-radius: 50%;
    border: solid white 15px;
  }
  #text {
    font-size: 15px;
    margin: 20px auto;
    color: black;
    font-weight: lighter;
  }
  #label {
    width: 85%;
    background-color: white;
    border: solid green 1.5px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 15px 0 15px 30px;
  }
  #footer {
    font-size: 13px;
    margin: 40px auto;
    color: black;
    font-weight: lighter;
  }
}
